Temp, Hum y Luz-NODE RED.json
[
    {
        "id": "ece5a103eee3f573",
        "type": "tab",
        "label": "Temperatura, Humedad y Luz",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b4ada3372131ea17",
        "type": "mqtt in",
        "z": "ece5a103eee3f573",
        "name": "",
        "topic": "temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "94bad1ed84e188ac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "dd0e21bc7c497694",
                "8f28b3f99d86dcca",
                "56aefb6ba74413ce"
            ]
        ]
    },
    {
        "id": "dd0e21bc7c497694",
        "type": "debug",
        "z": "ece5a103eee3f573",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "8f28b3f99d86dcca",
        "type": "ui_gauge",
        "z": "ece5a103eee3f573",
        "name": "",
        "group": "13174de4bca5ba37",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nivel de Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "9ebb2de5b439a176",
        "type": "ui_gauge",
        "z": "ece5a103eee3f573",
        "name": "",
        "group": "13174de4bca5ba37",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nivel de Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "f9d7da83680562fa",
        "type": "mqtt in",
        "z": "ece5a103eee3f573",
        "name": "",
        "topic": "hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "94bad1ed84e188ac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "9ebb2de5b439a176",
                "ab65438a4c6ab023"
            ]
        ]
    },
    {
        "id": "56aefb6ba74413ce",
        "type": "function",
        "z": "ece5a103eee3f573",
        "name": "function 1",
        "func": "var valor = msg.payload;\nif (valor >= 35) {\n    var mensaje = \"¡¡Alerta!!, la temperatura a aumentado a los: \" + valor+\" grados.\";\n    msg.payload = mensaje;\n    return msg;\n} else {\n    msg.payload = \"\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "5d083d413815a4eb"
            ]
        ]
    },
    {
        "id": "ab65438a4c6ab023",
        "type": "function",
        "z": "ece5a103eee3f573",
        "name": "function 2",
        "func": "var valor = msg.payload;\nif (valor >= 55) {\n    var mensaje = \"¡¡Alerta!!, la humedad a aumentado a un: \" + valor + \" %.\";\n    // Enviar el mensaje al nodo \"text\" del Dashboard\n    msg.payload = mensaje;\n    return msg;\n} else {\n    msg.payload= \"\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 400,
        "wires": [
            [
                "06045dab0aa626c8"
            ]
        ]
    },
    {
        "id": "5d083d413815a4eb",
        "type": "ui_text",
        "z": "ece5a103eee3f573",
        "group": "13174de4bca5ba37",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "06045dab0aa626c8",
        "type": "ui_text",
        "z": "ece5a103eee3f573",
        "group": "13174de4bca5ba37",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "4cd641961e390093",
        "type": "mqtt in",
        "z": "ece5a103eee3f573",
        "name": "",
        "topic": "luz",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "94bad1ed84e188ac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "9daa1f5e09d85c29",
                "b4e613aa17dbd950"
            ]
        ]
    },
    {
        "id": "9daa1f5e09d85c29",
        "type": "ui_gauge",
        "z": "ece5a103eee3f573",
        "name": "",
        "group": "13174de4bca5ba37",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Nivel de luz",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "b4e613aa17dbd950",
        "type": "function",
        "z": "ece5a103eee3f573",
        "name": "function 3",
        "func": "var valor = msg.payload;\nif (valor < 45) {\n    var mensaje = \"¡¡Tu perro se encuentra en la oscuridad!!, se ha encendido un led para que puedas encontrarlo.\";\n    msg.payload = mensaje;\n    return msg;\n} else {\n    msg.payload = \"\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 520,
        "wires": [
            [
                "eb9e8c25b54270d6"
            ]
        ]
    },
    {
        "id": "eb9e8c25b54270d6",
        "type": "ui_text",
        "z": "ece5a103eee3f573",
        "group": "13174de4bca5ba37",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 520,
        "wires": []
    },
    {
        "id": "94bad1ed84e188ac",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.152.200",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "13174de4bca5ba37",
        "type": "ui_group",
        "name": "Proximidad",
        "tab": "8f22ff3e9159e998",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f22ff3e9159e998",
        "type": "ui_tab",
        "name": "Sensores",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]